*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color: white;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background: linear-gradient(135deg, #2c5f2d 0%, #1a4620 100%);

    position: relative;
    height: 100px;  
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.menu-icon{
    display: none;
}
.menu-icon i{
    font-size: 30px;
    color: white;
}
@media(max-width : 600px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0px;
        flex-direction: column;
        text-align: center;
        background: #2c5f2d;
        gap: 0px;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
body{
    margin: 0;
    padding: 0;
}
.div_4, .div_2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.div_5 textarea{
    height: 70px;
    width: 300px;
    display: block;
}
.contact_main{
    justify-content: center;
    justify-items: center;
}
.div_5 button{
    padding: 10px;
    margin-top: 10px;
    background-color: green;
}