body{
    font-size: 20px;
}
.top{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: solid rgb(0, 166, 255);
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 5px;
}
.nav2{
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: none;
}
.head{
    display: flex;
    align-items: center;
    gap: 30px;
}
#F, #G, #E{
    border: solid;
    border-color: rgb(60, 180, 60);
    padding: 10px;
}
.f1{
    margin-bottom: 10px;
    margin-top: 20px;
}
li{
    line-height: 30px;
}
@media (max-width: 768px) {
    .top{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: solid rgb(0, 166, 255);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
}
}