*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color: white;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background: linear-gradient(135deg, #2c5f2d 0%, #1a4620 100%);

    position: relative;
    height: 100px;  
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.menu-icon{
    display: none;
}
.menu-icon i{
    font-size: 30px;
    color: white;
}
@media(max-width : 600px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0px;
        flex-direction: column;
        text-align: center;
        background: #2c5f2d;
        gap: 0px;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
body{
    margin: 0px;
    padding: 0px;
}
.inscript_title{
    color: #9B1C3B;
    padding: 20px;
    border: solid;
    text-align: center;
    padding-left: 0px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}
.inscript{
    margin: 0 290px 0 290px;
}
.condition{
    font-size: 25px;
}
.list{
    margin-top: 20px;
}
@media (max-width: 768px) {
    .inscript{
    margin: 0 40px 0 40px;
}
    .inscript_title{
    color: #9B1C3B;
    padding: 20px;
    border: solid;
    width: 470px;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
    margin: 0 60px 0 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
}