*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color: white;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background: linear-gradient(135deg, #2c5f2d 0%, #1a4620 100%);

    position: relative;
    height: 100px;  
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.menu-icon{
    display: none;
}
.menu-icon i{
    font-size: 30px;
    color: white;
}
@media(max-width : 600px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0px;
        flex-direction: column;
        text-align: center;
        background: #2c5f2d;
        gap: 0px;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
body{
    margin-left: 190px;
    margin-right: 190px;
    padding: 0px;
}
.head{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: solid rgb(0, 166, 255);
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 190px;
    margin-right: 190px;
}
span{
    font-weight: bold;
}
.RI{
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: solid black;
    padding: 20px;
    font-size: 20px;
    margin-left: 190px;
    margin-right: 190px;
}
@media (max-width: 768px) {
    .head{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: solid rgb(0, 166, 255);
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
    .RI{
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: solid black;
    padding: 20px;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
}