body{
    margin-left: 190px;
    margin-right: 190px;
    padding: 0px;
}
.head{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: solid rgb(0, 166, 255);
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 190px;
    margin-right: 190px;
}
span{
    font-weight: bold;
}
.RI{
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: solid black;
    padding: 20px;
    font-size: 20px;
    margin-left: 190px;
    margin-right: 190px;
}
@media (max-width: 768px) {
    .head{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: solid rgb(0, 166, 255);
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
    .RI{
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: solid black;
    padding: 20px;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
}