body{
    margin: 0px;
    padding: 0px;
}
.site-header_dynamic-header_menu-dropdown-tablet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block-end: 1rem;
    padding-block-start: 1rem;
    position: relative;
    border-style: none;
    background-color: #4cb151;
}
.site-title_show{
    margin-left: 60px;
    color: #3f51b0;
}
.A{
    color: #3f51b0;
}
.direct_word{
    border: 2px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(174, 174, 174);
    width: 70%;
}
.direct{
    width: 30%;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(253, 253, 253);
}
.B{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    font-size: 90px;
    margin-left: 140px;
}
.director{
    display: flex;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    align-items: center;
    padding: 20px;
}
.header-inner{
    display: block;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    font-family: 'Times New Roman', Times, serif;
}
.site-navigation_show{
    margin-left: 60px;
    display: flex;
    gap: 20px;
}

.accueil{
    background-image: url(/image/ctmb.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.welcome{
    color: #4cb151;
    font-family: "Times new roman", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;   
}
h2 p{
    overflow: hidden;
}
h2 span{
    display: block;
    transform: translateY(120px);
    position: relative;
    overflow: hidden;
    animation: 0.7s titleAnimation cubic-bezier(0, 0.55, 0.45, 1) forwards;
}
@keyframes titleAnimation {
    to{
        transform: initial;
    }
}
.D{
   margin-left: 590px; 
   margin-bottom: 0px;
   font-size: 100px;
   color: #f3eeef;
}
.welcome_W{
    text-align: center;
    color: white;
    font-size: 20px;
}
.ss_container{
    border-radius: 20px;
    color: green;
    padding: 0px;
}
.footer{
    background-color: black;
    color: whitesmoke;
    display: flex;
    gap: 500px;
    margin-top: 5px;
    padding: 20px;
    font-family: "Times new roman", serif;
    font-weight: bold;
}
.f1{
    margin-left: 40px;
}
.elem1 span{
    font-size: 30px;
    font-weight: bold;
}
.elem1 li {
    font-weight: bold;
}
.elem1{
    background-color: rgb(37, 34, 34);
    color: white;
    width: 50%;
    text-align: center;
}
.element{
    display: flex;
}
.elem2{
    background-color: red;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
.el{
    color: white;
}
.f1{
    display: block; 
    align-items: center; 
    color: whitesmoke
}
.f1_cont{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.communique{
    padding: 30px;
    background-color: #f3eeef;
}
.com_title h3{
    color: rgb(4, 107, 216);
    text-align: center;
    padding: 20px;
    font-size: 40px;
    text-decoration: underline;
}
.com1{
    border: none;
    width: 50%;
    color: black;
    background-color: rgb(9, 73, 222);
    padding: 20px;
    border-radius: 5px;
    font-weight: 400;
}
.comm{
    display: flex;
    gap: 90px;
}
@media (max-width: 768px) {
    .comm{
    display: block;
    gap: 90px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
    .director{
    display: block;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    align-items: center;
    padding: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
    .footer{
    background-color: black;
    color: whitesmoke;
    display: flex;
    gap: 100px;
    margin-top: 5px;
    padding: 20px;
}
    
    .B{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    font-size: 70px;
    margin-left: 50px;
}
    .D{
   margin-left: 120px; 
   margin-bottom: 0px;
   font-size: 100px;
   color: #f3eeef;
}
   .F2 h1{
    font-size: 30px;
   }
   .com1{
    border: none;
    width: 100%;
    color: black;
    background-color: rgb(9, 73, 222);
    padding: 20px;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 10px;
   }
   .direct_word{
    border: 2px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(174, 174, 174);
    width: 100%;
    }
}
.com1 h4{
    text-align: center;
    text-decoration: underline;
}
.com1 b{
    margin-top: 20px;
    margin-left: 70px;
}
.com1 p{
    text-align: justify;
}